//=======================================================================//
// settings - layout - borders
//=======================================================================//

// Border radius presets.
// Access via: fn.border-radius('md')

// @formatter:off

$border-radius: (
  'sm'   : 2px,
  'md'   : 4px,
  'lg'   : 8px,
  'xl'   : 12px,
  'full' : 9999px,
);
