//=======================================================================//
// 01-base - fonts
//=======================================================================//

// Define your @font-face declarations here.
// Example:
//
// @font-face {
//   font-display: swap;
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 400;
//   src: url('/fonts/inter-regular.woff2') format('woff2');
// }
//
// @font-face {
//   font-display: swap;
//   font-family: 'Inter';
//   font-style: normal;
//   font-weight: 700;
//   src: url('/fonts/inter-bold.woff2') format('woff2');
// }
