//=======================================================================//
// settings - typography - font-sizes
//=======================================================================//

// Font size scale.
// Access via: fn.font-size('base')

// Based on typescale.com - Minor Third (1.2)

// @formatter:off

$font-sizes: (
  'xs'   : 1.2rem,  // 12px
  'sm'   : 1.4rem,  // 14px
  'base' : 1.6rem,  // 16px
  'lg'   : 1.8rem,  // 18px
  'xl'   : 2rem,    // 20px

  // Headings (Minor Third scale: 1.2)
  'h6' : 1.2rem,    // 12px
  'h5' : 1.44rem,   // ~14px
  'h4' : 1.728rem,  // ~17px
  'h3' : 2.074rem,  // ~21px
  'h2' : 2.488rem,  // ~25px
  'h1' : 2.986rem,  // ~30px
);
