//=======================================================================//
// settings - typography - line-heights
//=======================================================================//

// Line height presets.
// Access via: fn.line-height('base')

// @formatter:off

$line-heights: (
  'tight'   : 1.2,
  'snug'    : 1.375,
  'base'    : 1.5,
  'relaxed' : 1.625,
  'loose'   : 2,
);
