//=======================================================================//
// 02-elements - grouping
//=======================================================================//

// Grouping content elements: hr, figure, etc.

hr {
  border: 0;
  border-top: 1px solid currentColor;
  opacity: 0.25;
}

figure {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
