//=======================================================================//
// 02-elements - list
//=======================================================================//

@use "../functions/functions" as fn;

ul, ol {
  margin-bottom: fn.spacing('3');
  padding-left: fn.spacing('5');

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: fn.spacing('1');

  &:last-child {
    margin-bottom: 0;
  }
}

// Nested lists
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
  margin-top: fn.spacing('1');
}

dl {
  margin-bottom: fn.spacing('3');
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: fn.spacing('2');
  margin-left: 0;
}
